<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link href="css/styles.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.tiny.cloud/1/mcvdwnvee5gbrtksfafzj5cvgml51to5o3u7pfvnjhjtd2v1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="js/main.js"></script>
<script src="js/company.js"></script>
<script>
    window.onload = function(){
        loadInforCompany();
    }
</script>
</head>
<body class="sb-nav-fixed">
    <nav id="top" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <button></button>
        </div>
        <div id="layoutSidenav_content">
            <main class="main">
                <div class="blockcontent">
                    <h3>Cập nhật thông tin doanh nghiệp</h3>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="hidden" id="idcom">
                            <label class="lbsa">Tên doanh nghiệp</label>
                            <input id="name" class="form-control">
                            <label class="lbsa">Địa chỉ</label>
                            <input id="diachi" class="form-control">
                            <label class="lbsa">Số điện thoại liên hệ</label>
                            <input id="sdt" class="form-control">
                            <label class="lbsa">Loại hình hoạt động</label>
                            <input id="hoatdong" class="form-control">
                            <label class="lbsa">Link website</label>
                            <input id="website" class="form-control">
                            <br>
                            <div id="loading">
                                <div class="bar1 bar"></div>
                            </div><br>
                            <button onclick="capNhatThongTin()" class="btn btn-primary form-control">Cập nhật</button>
                        </div>
                        <div class="col-sm-7">
                            <label class="lbsa">Ảnh</label>
                            <input id="imagebanner" type="file" class="form-control">
                            <img id="imgpreview" style="width: 100px;"><br>
                            <label class="lbsa">Mô tả doanh nghiệp</label>
                            <textarea id="editor"  name="content"></textarea>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <div id="passform"></div>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
    imagebanner.onchange = evt => {
        const [file] = imagebanner.files
        if (file) {
            imgpreview.src = URL.createObjectURL(file)
        }
    }
</script>
</body>
</html>
